# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python

# Node
node_modules/
dist/
